Adafruit-Blinka==8.24.0
adafruit-circuitpython-ads1x15==2.2.24
adafruit-circuitpython-bh1750==1.1.9
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-dht==4.0.3
adafruit-circuitpython-register==1.9.17
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.53.0
Adafruit-PureIO==1.1.11
numpy==1.26.1
pyftdi==0.55.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3.post1
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
schedule==1.2.1
six==1.16.0
sysv-ipc==1.1.0
typing-extensions==4.8.0
tzdata==2023.3
